body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #ECE9D8;
    font-family: "Noto Sans TC", sans-serif;
}

.padded-content {
    padding: 10px;
}

.full-width-textarea {
    width: 95%;
}